.category {
    width: 80%;
    background-color: #ffff;
    margin: 1rem auto;
}
.category h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: gray;
    font-weight: 400;
    padding: 1rem 0 0 2rem;
}
.category__list {
    margin-top:1rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.category__item {
    border: 1px solid #f5f5f5;
    text-align: center;
    padding: 0.5rem 0;
    transition: transform 0.3s ease;
    cursor: pointer;

}
.category__item:hover{
    transform: scale(1.1);
}
.category__item-img img {
    width: 70%;
}